lokal/backup-workflow-to-google-drive-and-github.json
{
  "name": "Drive & Github - n8n Workflow Backup",
  "nodes": [
    {
      "parameters": {},
      "id": "82091234-319d-47a1-8547-de6f7308b9dd",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -2016,
        576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "repo_owner",
              "name": "repo_owner",
              "type": "string",
              "value": "your-github-username"
            },
            {
              "id": "repo_name",
              "name": "repo_name",
              "type": "string",
              "value": "your-repo-name"
            },
            {
              "id": "repo_path",
              "name": "repo_path",
              "type": "string",
              "value": "your-repo-path"
            },
            {
              "id": "gdrive_folder_id",
              "name": "gdrive_folder_id",
              "type": "string",
              "value": "your-gdrive-folder-id or use from list"
            },
            {
              "id": "backup_timestamp",
              "name": "backup_timestamp",
              "type": "string",
              "value": "={{ $now.format('yyyy-MM-dd_HH-mm-ss') }}"
            },
            {
              "id": "backup_folder_name",
              "name": "backup_folder_name",
              "type": "string",
              "value": "=wfBackup - {{ $now.format('yyyy-MM-dd_HH-mm-ss') }}"
            },
            {
              "id": "a27de573-1591-4afa-97e5-e38d7b4e9839",
              "name": "telegram_chat_id",
              "value": 621412350,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "f224cb59-010f-4352-8aa8-8d8965e5a8f1",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "position": [
        -1792,
        672
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.backup_folder_name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.gdrive_folder_id }}"
        },
        "options": {}
      },
      "id": "62644327-a013-49ba-83c7-ad2666c882e8",
      "name": "Create GDrive Folder",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -1568,
        672
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nTWGelaHlbvHrG66",
          "name": "Khaisa Studio"
        }
      }
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "7d623e47-9066-403a-b3ce-3d8c2644834c",
      "name": "Get All Workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -1344,
        672
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "pSE0NDiUNmtDaZ5J",
          "name": "khmuhtadin"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e0f85cef-464c-4b7e-a781-7c701d1cb3ba",
      "name": "Loop Over Workflows",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -1120,
        672
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "format": true,
          "fileName": "={{ $json.name }}.json"
        }
      },
      "id": "ef274906-2548-473d-9e54-d5e4514f005f",
      "name": "Convert to JSON File",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        -896,
        288
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "jsCode": "// Get workflow data from the Loop Over Workflows node\nconst workflow = $('Loop Over Workflows').item.json;\nconst config = $('Config').first().json;\n\n// Prepare GitHub path using workflow name instead of ID\nconst date = new Date();\nconst year = date.getFullYear();\nconst month = String(date.getMonth() + 1).padStart(2, '0');\n\n// Sanitize workflow name for use as filename\n// Remove special characters and replace spaces with underscores\nconst sanitizedName = workflow.name\n  .replace(/[^a-zA-Z0-9\\s-_]/g, '') // Remove special characters except spaces, hyphens, underscores\n  .replace(/\\s+/g, '_')              // Replace spaces with underscores\n  .replace(/_+/g, '_')               // Remove multiple underscores\n  .trim();                           // Remove leading/trailing spaces\n\n// Create the GitHub path with sanitized name\nconst githubPath = `${config.repo_path}${year}/${month}/${sanitizedName}.json`;\n\n// Order JSON keys for consistency\nconst orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n};\n\n// Prepare workflow data\nconst orderedWorkflow = orderJsonKeys(workflow);\nconst workflowJson = JSON.stringify(orderedWorkflow, null, 2);\n\n// Return both the original data and GitHub-specific data\nreturn {\n  ...workflow,\n  github_path: githubPath,\n  workflow_json: workflowJson,\n  year: year,\n  month: month,\n  sanitized_name: sanitizedName\n};"
      },
      "id": "851ad647-30fa-4cc0-8a4a-938bd75b3deb",
      "name": "Prepare GitHub Data",
      "type": "n8n-nodes-base.code",
      "position": [
        -672,
        384
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "name": "={{ $('Loop Over Workflows').item.json.name }}.json",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create GDrive Folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "5d640e4b-0971-40ca-8191-37e9bbb07d78",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        0,
        96
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nTWGelaHlbvHrG66",
          "name": "Khaisa Studio"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $('Config').item.json.repo_owner }}",
          "mode": "expression"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Config').item.json.repo_name }}",
          "mode": "expression"
        },
        "filePath": "={{ $('Prepare GitHub Data').item.json.github_path }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "e478d567-8b74-4b2c-ba59-25b8e96d24f1",
      "name": "Check if File Exists",
      "type": "n8n-nodes-base.github",
      "position": [
        -448,
        384
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "ac79289e-cb2a-48b6-b4ca-be164fdb4e32",
      "credentials": {
        "githubOAuth2Api": {
          "id": "WlWFMqmgPWeyIthW",
          "name": "khmuhtadin"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-content",
              "leftValue": "={{ $json.content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "0a003963-0dad-4aea-b8d8-b78b3ca92dec",
      "name": "File Exists?",
      "type": "n8n-nodes-base.if",
      "position": [
        -224,
        384
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{ $('Config').item.json.repo_owner }}",
          "mode": "expression"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Config').item.json.repo_name }}",
          "mode": "expression"
        },
        "filePath": "={{ $('Prepare GitHub Data').item.json.github_path }}",
        "fileContent": "={{ $('Prepare GitHub Data').item.json.workflow_json }}",
        "commitMessage": "=Update: {{ $('Loop Over Workflows').item.json.name }} - {{ $('Config').item.json.backup_timestamp }}"
      },
      "id": "c7e9c3ba-171c-4ccf-936f-8e742452ec63",
      "name": "Update GitHub File",
      "type": "n8n-nodes-base.github",
      "position": [
        0,
        288
      ],
      "typeVersion": 1,
      "webhookId": "155f8906-8657-42af-b8ef-d56ab7d65bb0",
      "alwaysOutputData": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "WlWFMqmgPWeyIthW",
          "name": "khmuhtadin"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{ $('Config').item.json.repo_owner }}",
          "mode": "expression"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Config').item.json.repo_name }}",
          "mode": "expression"
        },
        "filePath": "={{ $('Prepare GitHub Data').item.json.github_path }}",
        "fileContent": "={{ $('Prepare GitHub Data').item.json.workflow_json }}",
        "commitMessage": "=Create: {{ $('Loop Over Workflows').item.json.name }} - {{ $('Config').item.json.backup_timestamp }}"
      },
      "id": "8fede1f0-acd4-4c38-a32c-e18656a0ebd2",
      "name": "Create GitHub File",
      "type": "n8n-nodes-base.github",
      "position": [
        0,
        576
      ],
      "typeVersion": 1,
      "webhookId": "c5625529-758f-41fb-b9c1-5f8e8e73a385",
      "credentials": {
        "githubOAuth2Api": {
          "id": "WlWFMqmgPWeyIthW",
          "name": "khmuhtadin"
        }
      }
    },
    {
      "parameters": {},
      "id": "57888064-272c-408e-9221-195b02b0e154",
      "name": "Merge GitHub Results",
      "type": "n8n-nodes-base.merge",
      "position": [
        224,
        288
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "backup_complete",
              "name": "backup_complete",
              "type": "boolean",
              "value": true
            },
            {
              "id": "workflow_name",
              "name": "workflow_name",
              "type": "string",
              "value": "={{ $('Loop Over Workflows').item.json.name }}"
            },
            {
              "id": "workflow_id",
              "name": "workflow_id",
              "type": "string",
              "value": "={{ $('Loop Over Workflows').item.json.id }}"
            },
            {
              "id": "gdrive_backup",
              "name": "gdrive_backup",
              "type": "boolean",
              "value": true
            },
            {
              "id": "github_backup",
              "name": "github_backup",
              "type": "boolean",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "77640dba-8261-4a27-bfbb-64784064a403",
      "name": "Mark Complete",
      "type": "n8n-nodes-base.set",
      "position": [
        448,
        656
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "total_workflows",
              "name": "total_workflows",
              "type": "number",
              "value": "={{ $('Get All Workflows').all().length }}"
            },
            {
              "id": "backup_timestamp",
              "name": "backup_timestamp",
              "type": "string",
              "value": "={{ $('Config').first().json.backup_timestamp }}"
            },
            {
              "id": "gdrive_folder",
              "name": "gdrive_folder",
              "type": "string",
              "value": "={{ $('Create GDrive Folder').first().json.name }}"
            },
            {
              "id": "status",
              "name": "status",
              "type": "string",
              "value": "Backup completed successfully"
            }
          ]
        },
        "options": {}
      },
      "id": "a388a797-5b43-42e6-b638-cce5f2504441",
      "name": "Final Summary",
      "type": "n8n-nodes-base.set",
      "position": [
        -896,
        672
      ],
      "typeVersion": 3.4,
      "executeOnce": true
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "924339263372406844",
          "mode": "list",
          "cachedResultName": "Khaisa Studio",
          "cachedResultUrl": "https://discord.com/channels/924339263372406844"
        },
        "channelId": {
          "__rl": true,
          "value": "1418253548193447936",
          "mode": "list",
          "cachedResultName": "monitoring",
          "cachedResultUrl": "https://discord.com/channels/924339263372406844/1418253548193447936"
        },
        "content": "={{ $json.status }}\n\nTotal workflow: {{ $json.total_workflows }}\nTimestamp: {{ $json.backup_timestamp }}\nDrive Folder: {{ $json.gdrive_folder }}\nRepo Name: {{ $('Config').item.json.repo_name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -672,
        768
      ],
      "id": "4e58b7f3-01bf-45ab-9fad-7285e8594bb2",
      "name": "Notify: Discord",
      "webhookId": "8ce73ea3-4b21-44b9-8229-1a8486b9ca48",
      "credentials": {
        "discordBotApi": {
          "id": "dJMKbc7ZDni2mvkT",
          "name": "Khaisa-n8n-bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Config').item.json.telegram_chat_id }}",
        "text": "=<b>✅ Backup Status:</b> {{ $json.status }}<br>\n<b>Total Workflows:</b> {{ $json.total_workflows }}<br>\n<b>Timestamp:</b> {{ $json.backup_timestamp }}<br>\n<b>Drive Folder:</b> {{ $json.gdrive_folder }}<br>\n<b>Repo Name:</b> {{ $('Config').item.json.repo_name }}<br><br>\n<i>Your n8n backup has been completed successfully!</i>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -672,
        576
      ],
      "id": "2d29b456-023c-40e9-bc33-b5f7b4cc176c",
      "name": "Notify: Telegram",
      "webhookId": "f87aef87-2e2c-45d5-b86b-18fc7fc0f3b9",
      "credentials": {
        "telegramApi": {
          "id": "wlH3um2hoPAGI8XX",
          "name": "Khaisa Dev Bot"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "id": "ecc88934-4fff-4407-8851-98e7cae43d52",
      "name": "Schedule Every 12 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -2016,
        768
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## 🚀 n8n Workflow Backup System\n\n### 📋 Requirements\n- **n8n API Credentials** - For fetching workflows\n- **Google Drive OAuth2** - For cloud backup storage  \n- **GitHub OAuth2** - For version control backup\n- **Telegram Bot API** (Optional) - For notifications\n- **Discord Bot API** (Optional) - For notifications\n\n### 🔗 Resource URLs\n- **n8n API**: [docs.n8n.io/api](https://docs.n8n.io/api/)\n- **Google Drive API**: [console.cloud.google.com](https://console.cloud.google.com/)\n- **GitHub OAuth**: [github.com/settings/developers](https://github.com/settings/developers)\n- **Telegram Bot**: [@BotFather](https://t.me/botfather)\n- **Discord Bot**: [discord.com/developers](https://discord.com/developers/applications)\n\n### ✨ Features\n- Dual backup (Google Drive + GitHub)\n- Version control with Git history\n- Sanitized filenames (removes special characters)\n- Error handling with fallback\n- Optional notifications on completion\n- Runs automatically twice daily",
        "height": 640,
        "width": 448,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1792,
        896
      ],
      "typeVersion": 1,
      "id": "a110b05a-7608-4bc9-b2be-8a824239ea9f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## ⚙️ Configuration\nEdit the **Config** node with your settings:\n- `repo_owner` - Your GitHub username\n- `repo_name` - Repository name for backups\n- `repo_path` - Folder path in repo (e.g., \"n8n-backup/\")\n- `gdrive_folder_id` - Google Drive parent folder ID\n- `telegram_chat_id` - Your Telegram chat ID (optional)\n\n### 📊 Workflow Process\n\n1. **Trigger** → Manual or scheduled every 12 hours\n2. **Setup** → Creates timestamped backup folder in Google Drive\n3. **Fetch** → Gets all workflows from n8n instance\n4. **Loop Process** → For each workflow:\n   - Converts to formatted JSON file\n   - Uploads to Google Drive folder\n   - Checks if file exists on GitHub\n   - Creates new or updates existing GitHub file\n5. **Complete** → Sends summary notifications to Telegram & Discord\n\n### 📁 Backup Structure\n- **Google Drive**: `/wfBackup - YYYY-MM-DD_HH-mm-ss/workflow_name.json`\n- **GitHub**: `/n8n-backup/YYYY/MM/workflow_name.json`\n\n",
        "height": 640,
        "width": 448,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1312,
        896
      ],
      "typeVersion": 1,
      "id": "41cb9dc7-c79d-4bf4-9cfb-06b9b3c92619",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Create GDrive Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GDrive Folder": {
      "main": [
        [
          {
            "node": "Get All Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Workflows": {
      "main": [
        [
          {
            "node": "Loop Over Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Workflows": {
      "main": [
        [
          {
            "node": "Final Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to JSON File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to JSON File": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare GitHub Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare GitHub Data": {
      "main": [
        [
          {
            "node": "Check if File Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Merge GitHub Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Check if File Exists": {
      "main": [
        [
          {
            "node": "File Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Exists?": {
      "main": [
        [
          {
            "node": "Update GitHub File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create GitHub File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update GitHub File": {
      "main": [
        [
          {
            "node": "Merge GitHub Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GitHub File": {
      "main": [
        [
          {
            "node": "Merge GitHub Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge GitHub Results": {
      "main": [
        [
          {
            "node": "Mark Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Complete": {
      "main": [
        [
          {
            "node": "Loop Over Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Summary": {
      "main": [
        [
          {
            "node": "Notify: Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify: Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Every 12 Hours": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b256b477-f4ed-407c-9f9d-eba0cfe3449f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c2650793f644091dc80fb900fe63448ad1f4b774008de9608064d67294f8307c"
  },
  "id": "fLhZUEbPeMMkDCSx",
  "tags": []
}
