lokal/bot-telegram-catatan-keuangan.json
{
  "name": "Keuangan",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "67f00b60-6951-453b-b01c-d776f8bd60f9",
      "name": "Telegram Trigger",
      "webhookId": "a7cfe795-179e-413f-929f-d2c24989e6f0",
      "credentials": {
        "telegramApi": {
          "id": "f149pCNByn2NOW4g",
          "name": "SquidBot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9311e8b3-05d5-4a95-84eb-ff91ea9ceffb",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "saldo",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ],
      "id": "b3776ba9-2fb4-44a3-ad6c-891835c9ff37",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=Kamu adalah Bot Asisten Keuangan probadi Bisri Mustofa, Tugasmu adalah sebagai berikut :\n1. Cek prompt menjadi data keuangan\n2. Analisis apakah itu termasuk pemasukan atau pengeluaran\n3. Jika itu pemasukan maka, Nilai Bersih uang menjadi bernilai positif, jika pengeluaran maka Nilai Bersih menjadi negatif\n4. analisis juga kategori menjadi berikut :\nPemasukan (Gaji, Bonus, Lain-lain)\nPengeluaran (Makanan, Belanja, Tagihan, Hiburan, Lain-lain)\n\nSetelah itu pastikan kamu punya data berikut :\nTanggal : {{ $now.format('yyyy-MM-dd') }}\nKeterangan :\nJenis :\t\nKategori :\t\nJumlah : \nNilai Bersih :\n\nSetelah itu isikan ke dalam tool (keuangan) Gsheet."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        440,
        -220
      ],
      "id": "5131f7ff-8368-4387-887b-614a8c8dbbbb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "ed8200f6-f96b-43a7-a42c-a9d93d2735d6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "kN4LdXMa8Cj3J9fy",
          "name": "AI BotSquid"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/17dnUd61opyFeAM-sitJlwr5v5CHnEBZ-tYcx29v_HNE/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17dnUd61opyFeAM-sitJlwr5v5CHnEBZ-tYcx29v_HNE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Jenis": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Jenis', ``, 'string') }}",
            "Waktu": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Waktu', ``, 'string') }}",
            "Deskripsi": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Deskripsi', ``, 'string') }}",
            "Total": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Total', ``, 'string') }}",
            "Nilai Bersih": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nilai_Bersih', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Waktu",
              "displayName": "Waktu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Jenis",
              "displayName": "Jenis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Deskripsi",
              "displayName": "Deskripsi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total",
              "displayName": "Total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nilai Bersih",
              "displayName": "Nilai Bersih",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Saldo",
              "displayName": "Saldo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        600,
        -20
      ],
      "id": "b088324b-d82d-490e-936e-07d97f9c8d24",
      "name": "keuangan",
      "credentials": {
        "googleApi": {
          "id": "Ov5hCw7WSpwTR77r",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "=Kamu adalah Bot Asisten Keuangan probadi Bisri Mustofa, Tugasmu adalah sebagai berikut :\n1. Cek apakah user butuh menampilkan data saldo\n2. Ambil data dari tool (catatan) do gsheet\n3. Liat lagi apakah user butuh saldo akhir, saldo per waktu\n\nberikan output yang sesuai dari data tool catatan di gsheet"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        440,
        160
      ],
      "id": "93de7a1c-4953-4980-94ab-afa8c50e1116",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        -220
      ],
      "id": "27e9df2e-0068-46aa-b3db-46480c32ea55",
      "name": "Send a text message",
      "webhookId": "7298fa0d-ea8d-4c5f-afec-54ea32caeabe",
      "credentials": {
        "telegramApi": {
          "id": "f149pCNByn2NOW4g",
          "name": "SquidBot"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/17dnUd61opyFeAM-sitJlwr5v5CHnEBZ-tYcx29v_HNE/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17dnUd61opyFeAM-sitJlwr5v5CHnEBZ-tYcx29v_HNE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        620,
        360
      ],
      "id": "d2db2251-8e23-4ea2-b9e8-3f0a83a3f561",
      "name": "catatan",
      "credentials": {
        "googleApi": {
          "id": "Ov5hCw7WSpwTR77r",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        160
      ],
      "id": "722d1824-432d-4fc9-a3aa-a8967f8a5594",
      "name": "Send a text message1",
      "webhookId": "1d6c3ce4-d2e1-47a3-8f1d-495170ad7aa0",
      "credentials": {
        "telegramApi": {
          "id": "f149pCNByn2NOW4g",
          "name": "SquidBot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "keuangan": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "catatan": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "531cd407-5058-4774-b8ad-94ecf203652e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "93ee2fa4f886d17cb2a70b2dcec888f017693a6bb45298d43443c371060fae6a"
  },
  "id": "GclLBm19rsZ9HO3c",
  "tags": []
}
