lokal/create-invoice-xendit-with-supabase.json
{
  "name": "Topup Balance",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "topup-balance",
        "authentication": "jwtAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "0e3edbc9-3c3d-4a88-8856-7520ec4ae769",
      "name": "Webhook",
      "webhookId": "6dca19a4-b809-46ec-a11a-381ebe0c66eb",
      "credentials": {
        "jwtAuth": {
          "id": "1Cokr8tb9Wyy1p1y",
          "name": "JWT Auth account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "payments",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.jwtPayload.sub }}"
            },
            {
              "fieldId": "amount",
              "fieldValue": "={{ $json.body.amount }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "pending"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        280,
        0
      ],
      "id": "ba4f3f87-7a2c-4aa2-a01f-0a0a922839fc",
      "name": "Insert to Table Payment",
      "credentials": {
        "supabaseApi": {
          "id": "MqSrBhq5FpX3BF3U",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.xendit.co/v2/invoices",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "external_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "amount",
              "value": "={{ $json.amount }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        0
      ],
      "id": "0a88fc6c-19fa-483d-8816-9ba54cc3a521",
      "name": "Get Invoice URL Xendit",
      "credentials": {
        "httpBasicAuth": {
          "id": "VhdXCKNjMALpLDLx",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "payments",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Insert to Table Payment').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "external_id",
              "fieldValue": "={{ $json.external_id }}"
            },
            {
              "fieldId": "invoice_url",
              "fieldValue": "={{ $json.invoice_url }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "id": "2f2336dd-6445-4eca-8a3e-196d08f4c23b",
      "name": "Update Payment with Invoice URL",
      "credentials": {
        "supabaseApi": {
          "id": "MqSrBhq5FpX3BF3U",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"invoice_url\": \"{{ $json.invoice_url }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1060,
        0
      ],
      "id": "5db9d60a-9464-41bd-aaad-bce87381e73c",
      "name": "Respond to Webhook with Invoice URL"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-patuaecdsfbr.pempek.sumopod.my.id",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36",
            "content-length": "16",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "en-US,en;q=0.8",
            "authorization": "Bearer eyJhbGciOiJIUzI1NiIsImtpZCI6Ik1EdHg5ZnJSNjkwS0xJVlAiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL2Nkd2lrempqc2JscnZocGJkcXN4LnN1cGFiYXNlLmNvL2F1dGgvdjEiLCJzdWIiOiIzOGJkNTMyZi1iMGZkLTQxMTktOGY1My0xNjA4MWQwN2U2YzUiLCJhdWQiOiJhdXRoZW50aWNhdGVkIiwiZXhwIjoxNzU0MDY1NTM3LCJpYXQiOjE3NTQwNjE5MzcsImVtYWlsIjoiMDdhcmlhc2V0YUBnbWFpbC5jb20iLCJwaG9uZSI6IiIsImFwcF9tZXRhZGF0YSI6eyJwcm92aWRlciI6ImVtYWlsIiwicHJvdmlkZXJzIjpbImVtYWlsIl19LCJ1c2VyX21ldGFkYXRhIjp7ImVtYWlsIjoiMDdhcmlhc2V0YUBnbWFpbC5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwicGhvbmVfdmVyaWZpZWQiOmZhbHNlLCJzdWIiOiIzOGJkNTMyZi1iMGZkLTQxMTktOGY1My0xNjA4MWQwN2U2YzUifSwicm9sZSI6ImF1dGhlbnRpY2F0ZWQiLCJhYWwiOiJhYWwxIiwiYW1yIjpbeyJtZXRob2QiOiJvdHAiLCJ0aW1lc3RhbXAiOjE3NTQwNjE5Mzd9XSwic2Vzc2lvbl9pZCI6ImI0ZmU3NmFhLTFiNTEtNGJlOC1hNzUyLTQ1YTVjNDVkNDA0ZCIsImlzX2Fub255bW91cyI6ZmFsc2V9.3qUFXZpxRixjroYxMtMCQtqXHXY6iXbCKiEPJf9nyxE",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "103.105.55.20",
            "cf-ipcountry": "ID",
            "cf-ray": "968659fd09a49af4-SIN",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "origin": "http://localhost:5173",
            "priority": "u=1, i",
            "referer": "http://localhost:5173/",
            "sec-ch-ua": "\"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"138\", \"Brave\";v=\"138\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"macOS\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "sec-gpc": "1",
            "x-forwarded-for": "103.105.55.20, 104.23.175.151",
            "x-forwarded-host": "n8n-patuaecdsfbr.pempek.sumopod.my.id",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "c65e959e7398",
            "x-real-ip": "104.23.175.151"
          },
          "params": {},
          "query": {},
          "body": {
            "amount": 50000
          },
          "webhookUrl": "https://n8n-patuaecdsfbr.pempek.sumopod.my.id/webhook/topup-balance",
          "executionMode": "production",
          "jwtPayload": {
            "iss": "https://cdwikzjjsblrvhpbdqsx.supabase.co/auth/v1",
            "sub": "38bd532f-b0fd-4119-8f53-16081d07e6c5",
            "aud": "authenticated",
            "exp": 1754065537,
            "iat": 1754061937,
            "email": "07ariaseta@gmail.com",
            "phone": "",
            "app_metadata": {
              "provider": "email",
              "providers": [
                "email"
              ]
            },
            "user_metadata": {
              "email": "07ariaseta@gmail.com",
              "email_verified": true,
              "phone_verified": false,
              "sub": "38bd532f-b0fd-4119-8f53-16081d07e6c5"
            },
            "role": "authenticated",
            "aal": "aal1",
            "amr": [
              {
                "method": "otp",
                "timestamp": 1754061937
              }
            ],
            "session_id": "b4fe76aa-1b51-4be8-a752-45a5c45d404d",
            "is_anonymous": false
          }
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Insert to Table Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert to Table Payment": {
      "main": [
        [
          {
            "node": "Get Invoice URL Xendit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Invoice URL Xendit": {
      "main": [
        [
          {
            "node": "Update Payment with Invoice URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Payment with Invoice URL": {
      "main": [
        [
          {
            "node": "Respond to Webhook with Invoice URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fc9f9474-0570-4271-a606-a5e4ecd41775",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8bd62d28c35c0b4ad404d6d3f48d48f7160cc529a80ebb7193cecc134eb339d7"
  },
  "id": "Kxi5irGD3sIrFBab",
  "tags": []
}
