lokal/edit-image-using-gemini.json
{
  "name": "Generate image from image",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "=AIzaSyBsP5OMaSFMYyD4DKTlhkh4yIB3h4pvtYI"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"{{ $('When Executed by Another Workflow').item.json.prompt }}\"\n        },\n        {\n          \"inline_data\": {\n            \"mime_type\": \"{{ $('HTTP Request').item.binary.data.mimeType }}\",\n            \"data\": \"{{ $json.data }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"responseModalities\": [\n      \"TEXT\",\n      \"IMAGE\"\n    ]\n  }\n}",
        "options": {}
      },
      "id": "a5450186-7852-4cc5-8848-08378d828c4c",
      "name": "Gemini 1.5 Flash Image Edit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -432,
        176
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.imageUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        -64
      ],
      "id": "4423961b-a5c0-4a72-be52-40a773e87ae5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        0,
        -64
      ],
      "id": "609337fe-17d4-463e-8447-9a35157278a5",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "prompt"
            },
            {
              "name": "imageUrl"
            },
            {
              "name": "chat_id"
            },
            {
              "name": "send_id"
            },
            {
              "name": "fileName"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -432,
        -64
      ],
      "id": "e6219a9c-6ba8-4cca-81b6-86e8bb9a38f1",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "021aad70-de11-4387-844e-7e7dfd3b1044",
              "name": "image",
              "type": "string",
              "value": "={{ $json.candidates[0].content.parts.find(part => part.inlineData).inlineData.data }}"
            },
            {
              "id": "62877ef7-2057-4d35-a44b-1d58fa1f1769",
              "name": "mimeType",
              "type": "string",
              "value": "={{ $json.candidates[0].content.parts.find(part => part.inlineData).inlineData.mimeType }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4ebb5f09-3d9a-496e-85b6-cb5fd637abd0",
      "name": "Get Image Contents",
      "type": "n8n-nodes-base.set",
      "position": [
        -224,
        176
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "image",
        "options": {
          "mimeType": "={{ $json.mimeType }}"
        }
      },
      "id": "a84e0dd3-4bdb-4196-83de-02dd4e976de0",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        0,
        176
      ],
      "typeVersion": 1.1,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://wa.devotetolove.com/send/{{ $('When Executed by Another Workflow').item.json.chat_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer SAVnDRPmruAduGveHmt7EKMYB65ZF7n2"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $('When Executed by Another Workflow').item.json.prompt }}\n\nhttps://s3proxy.talentabangsa.com/ai_agent/{{ $('When Executed by Another Workflow').item.json.fileName }}"
            },
            {
              "name": "phone",
              "value": "={{ $('When Executed by Another Workflow').item.json.send_id }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "7b1f01ea-86ce-4e6f-9631-51664e742d69",
      "name": "Send Image Whatsapp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        176
      ],
      "executeOnce": true,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "prompt": "remove the text",
          "imageUrl": "https://storage.googleapis.com/n8n-devotetolove/wa/cesinesaronifadivotu.jpg?alt=media",
          "chat_id": "6282287998818",
          "send_id": "6281325168495",
          "fileName": "image_no_text.jpg"
        }
      }
    ]
  },
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Gemini 1.5 Flash Image Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 1.5 Flash Image Edit": {
      "main": [
        [
          {
            "node": "Get Image Contents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image Contents": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Send Image Whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3ce6f05c-d7bc-4639-a671-57161061b4d0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "038f07380823737bad6c4701f91c0908c21107fc6ca87179339ab49a21465b4a"
  },
  "id": "SIV2VRTkqQncQCgi",
  "tags": []
}
