lokal/image-generator.json
{
  "name": "## TEKS TO IMAGEN_3_5 (AUTO UPSCALE)",
  "nodes": [
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "imagePanels[0].generatedImages[0].encodedImage",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        208,
        160
      ],
      "id": "68de156c-a521-4494-b0ef-7c02242803b0",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "jsCode": "const randomNumber = Math.floor(Math.random() * 9999999) + 1;\nreturn { randomNumber: randomNumber };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        0
      ],
      "id": "dc5a5a55-92ce-4bb6-ae18-feb57caa09e1",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('EDIT DI SINI').item.json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('EDIT DI SINI').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"clientContext\": {\n    \"workflowId\": \"9248e624-9730-4c27-a8db-bc568687c24d\",\n    \"tool\": \"BACKBONE\",\n    \"sessionId\": \";{{ Date.now() }}\"\n  },\n  \"imageModelSettings\": {\n    \"imageModel\": \"IMAGEN_3_5\",\n    \"aspectRatio\": \"{{ $('EDIT DI SINI').item.json.RASIOGAMBAR }}\"\n  },\n  \"mediaCategory\": \"MEDIA_CATEGORY_BOARD\",\n  \"prompt\": \"{{ $('EDIT DI SINI').item.json.PROMPT }}\",\n  \"seed\": {{ $json.randomNumber }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        160
      ],
      "id": "afeeeeb0-83d3-4d9e-a4ac-d8e989f21f50",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        816,
        352
      ],
      "id": "140cc6f0-4faf-48d7-8e88-5e4eaca5ad99",
      "name": "Wait",
      "webhookId": "2eaf1da2-9cf5-437e-9947-62a1a7cf38ec"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "56600f03-1edb-4bbf-b79b-9dcd96d930a8",
              "name": "url",
              "value": "https://aisandbox-pa.googleapis.com/v1/whisk:generateImage",
              "type": "string"
            },
            {
              "id": "510e7f47-6bb3-4a48-ae12-e2185b5398b1",
              "name": "token",
              "value": "Bearer ya29.A0AS3H6Ny1DeN2ZbBuaFrfSHQ_2Ws1EGVvWi9xrpkUXnPKPDoz2BR5Z-Mk6HhlJNp8MGXd5PJQeKT6WQmVZJXFnXOrjGWfLD1iO-1nz_53kNiR_1e2J2ckbdtjQuz_ASxt1nl4RNmokBItd37NH3bEZEtyd9ZxLGChU7WjPBUizAaIk_cIDeUcLOD-BynSl6zhEWQTHZd2IJrzginQKAjtA6qIreeGsPzFjZrVkPNT4cikfxTUysqUZna4p24GxicUe6Ub75f_-JxhIHZ5B1sOT_4z0V7HSlBolmGG-I6HBdnuaGqmREKb6GMCaL83ZXaLWdcYHQcjZHggO4dAU-_zGnZtH25yT-ETScCkkfXsHEQaCgYKAXUSARMSFQHGX2Mij1WKO5xZYQoK3stV8Z5gug0370",
              "type": "string"
            },
            {
              "id": "90a02441-da7c-4769-9b01-f68c6f11037a",
              "name": "PROMPT",
              "value": "={{ $json.PROMPT }}",
              "type": "string"
            },
            {
              "id": "7c3c1ff6-b71a-4777-b470-1a756e06cf61",
              "name": "RASIOGAMBAR",
              "value": "=IMAGE_ASPECT_RATIO_LANDSCAPE",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "fa9bcab1-489f-443c-8116-01f77f923677",
      "name": "EDIT DI SINI"
    },
    {
      "parameters": {
        "name": "={{ $('DAFTAR PROMPT').item.json.PROMPT }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "10kGYJ1mKqvwOmNPyaU4HU5TARdec5i7N",
          "mode": "list",
          "cachedResultName": "30 Agustus",
          "cachedResultUrl": "https://drive.google.com/drive/folders/10kGYJ1mKqvwOmNPyaU4HU5TARdec5i7N"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        432,
        352
      ],
      "id": "91fb06d6-749c-42a9-866d-00cf62b062be",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "r1Zq2J4tiL6sC8wR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://get1.imglarger.com/api/UpscalerNew/CheckStatusNew",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"code\":\"{{ $('Upscale gambar').item.json.data.code }}\",\"scaleRadio\":4}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        352
      ],
      "id": "b731043f-5078-458c-991b-29b0a45b0877",
      "name": "Status Proses"
    },
    {
      "parameters": {
        "url": "={{ $('Status Proses').item.json.data.downloadUrls[0] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate, br, zstd"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.9,id;q=0.8"
            },
            {
              "name": "Connection",
              "value": "keep-alive"
            },
            {
              "name": "Host",
              "value": "get1.imglarger.com"
            },
            {
              "name": "Origin",
              "value": "https://imgupscaler.com"
            },
            {
              "name": "Referer",
              "value": "https://imgupscaler.com/"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (iPhone; CPU iPhone OS 16_6 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/16.6 Mobile/15E148 Safari/604.1"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "=data"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        352
      ],
      "id": "2722cc03-9d85-44b5-a201-4e523f28bf8d",
      "name": "Download gambar"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://get1.imglarger.com/api/UpscalerNew/UploadNew",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate, br, zstd"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.9,id;q=0.8"
            },
            {
              "name": "Connection",
              "value": "keep-alive"
            },
            {
              "name": "Origin",
              "value": "https://imgupscaler.com"
            },
            {
              "name": "Referer",
              "value": "https://imgupscaler.com/"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (iPhone; CPU iPhone OS 16_6 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/16.6 Mobile/15E148 Safari/604.1"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "myfile",
              "inputDataFieldName": "data"
            },
            {
              "name": "scaleRadio",
              "value": "4"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        160
      ],
      "id": "53f744eb-ee8d-4aa8-aa5e-3781e7935207",
      "name": "Upscale gambar"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ac87e329-a552-48ea-a160-bb7589ceaad6",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        816,
        160
      ],
      "id": "b6e9e70c-853a-499b-8fa1-f93a283304aa",
      "name": "If1"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        608,
        160
      ],
      "id": "28179f74-cfe7-49ce-97ea-50e8809729aa",
      "name": "Wait3",
      "webhookId": "a30775e4-db44-48a1-bdd2-b3cfc90de175"
    },
    {
      "parameters": {
        "content": "## TEKS TO IMAGEN_3_5 (AUTO UPSCALE)",
        "height": 608,
        "width": 1200,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        -64
      ],
      "typeVersion": 1,
      "id": "32c6f9cb-aebd-42b4-bf1b-632b6659acdf",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WBUUAydfhUWBeCSLkXpv0g1EjnNiUiV_EamqQrGQBjE",
          "mode": "list",
          "cachedResultName": "30 Agustus",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WBUUAydfhUWBeCSLkXpv0g1EjnNiUiV_EamqQrGQBjE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WBUUAydfhUWBeCSLkXpv0g1EjnNiUiV_EamqQrGQBjE/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "STATUS",
              "lookupValue": "ANTRI"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "6e0547a1-839f-4f81-9f79-ab07961ac6e6",
      "name": "DAFTAR PROMPT",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ma98JYmMy9auzmTm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "ccad5dd4-e145-4c32-98f3-d8a744a6d6dd",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1WBUUAydfhUWBeCSLkXpv0g1EjnNiUiV_EamqQrGQBjE",
          "mode": "list",
          "cachedResultName": "30 Agustus",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WBUUAydfhUWBeCSLkXpv0g1EjnNiUiV_EamqQrGQBjE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WBUUAydfhUWBeCSLkXpv0g1EjnNiUiV_EamqQrGQBjE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('DAFTAR PROMPT').item.json.ID }}",
            "STATUS": "SELESAI"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PROMPT",
              "displayName": "PROMPT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LINK",
              "displayName": "LINK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        352
      ],
      "id": "6a7a8cd4-6513-4a62-824a-e4706065f361",
      "name": "UPDATE SELESAI",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ma98JYmMy9auzmTm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        0
      ],
      "id": "0c5ce7e1-369b-4c2b-a80f-427841efc3da",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upscale gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        []
      ]
    },
    "EDIT DI SINI": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "UPDATE SELESAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Proses": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download gambar": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upscale gambar": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Download gambar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Status Proses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DAFTAR PROMPT": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "EDIT DI SINI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE SELESAI": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "DAFTAR PROMPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dae68b87-6451-4c16-99e4-c9dc0867d222",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a7a52041994cc559d9088415daca742bffddb2b0381179cc7af8b9aaa41fb809"
  },
  "id": "ReN3iWsV7o7Hph9s",
  "tags": []
}
