lokal/laporin.json
{
  "name": "Laporin - Report Submission Automation v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "report",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "1AbCdEfGhIjKlMnOpQrStUvWxYz1234567890",
        "range": "Reports",
        "options": {},
        "valueInputMode": "USER_ENTERED",
        "fields": "Username,Description,Location,Media URL,AI Check,Status",
        "dataProperty": "json"
      },
      "name": "Google Sheets Append",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "-1009876543210",
        "text": "🚨 *Laporan baru dari @{{$json[\"username\"]}}*\n📍 *Lokasi:* {{$json[\"location\"]}}\n📝 *Deskripsi:* {{$json[\"description\"]}}\n🤖 *AI Check:* {{$json[\"ai_check\"]}}\n📸 *Media:* [Lihat Gambar]({{$json[\"media_url\"]}})",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Telegram Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        800,
        500
      ],
      "credentials": {
        "telegramApi": {
          "id": "123456",
          "name": "LaporinBot"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const status = $json['ai_check'] === 'Gambar asli' ? '✅ Asli' : '⚠️ Diduga AI-generated';\nreturn [{ ...$json, Status: status }];"
      },
      "name": "Check AI Result",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Check AI Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check AI Result": {
      "main": [
        {
          "node": "Google Sheets Append",
          "type": "main",
          "index": 0
        },
        {
          "node": "Telegram Notification",
          "type": "main",
          "index": 0
        }
      ]
    }
  }
}
