lokal/ocr-into-googlesheet-gmail.json
{
  "name": "Extract Text from Images with Telegram Bot & Gemini OCR save into GoogleSheet & Gmail",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "id": "d542ac2e-b4a8-4ef4-8f7d-82967496eb84",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        720,
        304
      ],
      "webhookId": "6ebd6b32-94ab-4b06-a988-541a08ad0004",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "zDaY8zjnc74IQVsZ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c8cd1608-2326-401d-9c47-79a6a72f5fc7",
              "name": "chatID",
              "type": "number",
              "value": "={{ $json.message.chat.id }}"
            },
            {
              "id": "0f1a41cb-8630-4e10-b445-f6bbbcf91d33",
              "name": "Image",
              "type": "string",
              "value": "={{ $json[\"message\"][\"photo\"][$json[\"message\"][\"photo\"].length - 1][\"file_id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "62153ad5-5d6a-425e-8d95-102f4c1127ff",
      "name": "Clean Input Data",
      "type": "n8n-nodes-base.set",
      "position": [
        928,
        304
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.Image.replace(/\\n/g, '') }}",
        "additionalFields": {}
      },
      "id": "8025ea31-cabc-413a-b2c3-d7c3d90090ee",
      "name": "get file",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1152,
        304
      ],
      "webhookId": "60dbd4f5-c1f5-453e-b10e-d90be0b14a31",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "zDaY8zjnc74IQVsZ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Clean Input Data').item.json.chatID }}",
        "text": "={{ $json.candidates[0].content.parts[0].text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "7895240d-cf0f-42ae-b2ea-d97897e8d696",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        880,
        560
      ],
      "webhookId": "bd00e5f4-b269-40ca-876c-458dc28471c1",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "zDaY8zjnc74IQVsZ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Image Reader",
        "height": 620,
        "width": 920,
        "color": 4
      },
      "id": "578f57a6-834b-4b38-9503-b2e59b60cc91",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=AIzaSyBuffoOtHBSd9eatYy6K3mFnrfywc2-t0w",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\"text\" : \"Extract the content from the image and output it while keeping the original format.\"},\n        {\n          \"inlineData\": {\n            \"mimeType\": \"image/jpg\",\n            \"data\": \"{{ $json.data }}\"\n          }\n        },\n        {\n          \"text\": \"Extract text\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n  \"temperature\": 1,\n  \"maxOutputTokens\": 65536\n  }\n}",
        "options": {}
      },
      "id": "48ea33e0-97cd-4500-bdb5-f42cbbefd734",
      "name": "Gemini OCR",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        720,
        560
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "f9b5dce6-95c7-4db4-9545-7712904e6bf3",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1392,
        304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_jPsGJ9CKqcUMmFsaGz5F4M14HGahu0GZOBB9vxGujQ",
          "mode": "list",
          "cachedResultName": "Bon Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_jPsGJ9CKqcUMmFsaGz5F4M14HGahu0GZOBB9vxGujQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_jPsGJ9CKqcUMmFsaGz5F4M14HGahu0GZOBB9vxGujQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tanggal Transaksi": "={{ $now.format('dd-MM-yyyy HH:mm:ss') }}",
            "Nama Barang": "={{ $json.result.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Tanggal Transaksi",
              "displayName": "Tanggal Transaksi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nama Barang",
              "displayName": "Nama Barang",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        560
      ],
      "id": "4a3cce9a-2596-4c58-ae6e-2d46272aa8d0",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OHOUuwaJ3QWpJkaR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "putut.n@gmail.com",
        "subject": "New Data OCR",
        "message": "Hello users... Anda mendapatkan email baru. Silahkan buka mailbox.",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1360,
        560
      ],
      "id": "e5487cb0-e77e-437f-b7f3-34255445417f",
      "name": "Send a message",
      "webhookId": "40740fa4-c6d5-465e-b7bd-daea7e9ecec3",
      "credentials": {
        "gmailOAuth2": {
          "id": "hxdhzvnISZSi1IND",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "Bon Test",
          "sheetName": "Sheet1"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1200,
        560
      ],
      "id": "027a4f85-0e29-4ad2-b535-46a0effa3363",
      "name": "Convert to File Excel"
    }
  ],
  "pinData": {},
  "connections": {
    "get file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini OCR": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Input Data": {
      "main": [
        [
          {
            "node": "get file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Clean Input Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Gemini OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Convert to File Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File Excel": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "ebb32567-60cc-44c1-bd14-2460effae140",
  "meta": {
    "templateId": "5864",
    "templateCredsSetupCompleted": true,
    "instanceId": "b9a1ee3dabc520dd54b61a232999c0d3256de42169dc61a0414b90b68a5599f9"
  },
  "id": "PSye3FPe76ZFdbBe",
  "tags": []
}
