lokal/pembayaran-dari-waha-ke-midtrans.json
{
  "name": "Pembayaran MidTrans",
  "nodes": [
    {
      "parameters": {
        "functionCode": "const nama = $json.payload.body.replace(/bayar invoice/i, '').trim(); return [{ json: { nama } }];"
      },
      "name": "Extract Nama",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        240,
        -60
      ],
      "id": "1cafad1b-11e9-4afb-baf9-d855653e3d92"
    },
    {
      "parameters": {
        "orderId": "={{ $json.invoice_id }}",
        "grossAmount": "={{ $json.nominal }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "@yudhaputrama/n8n-nodes-midtrans.midtransSnap",
      "typeVersion": 1,
      "position": [
        920,
        -60
      ],
      "id": "b9448c69-b153-434e-8b1d-1bc254837748",
      "name": "Midtrans SNAP",
      "credentials": {
        "midtransApi": {
          "id": "BRz4PZ41gBg0mwjO",
          "name": "Midtrans account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1U6Sj-sbJ_3OC5XbRqi-zQJpu2GaoHY3epkmtcSNwFXE",
          "mode": "list",
          "cachedResultName": "Data Tagihan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U6Sj-sbJ_3OC5XbRqi-zQJpu2GaoHY3epkmtcSNwFXE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U6Sj-sbJ_3OC5XbRqi-zQJpu2GaoHY3epkmtcSNwFXE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        480,
        -60
      ],
      "id": "a3639406-b485-446b-b71b-6eb938528d94",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uvSC9l5cU9mYporG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@devlikeapro/n8n-nodes-waha.wahaTrigger",
      "typeVersion": 202502,
      "position": [
        -100,
        -160
      ],
      "id": "64e1333c-5df7-4561-9bb6-f7c759cf27cd",
      "name": "WAHA Trigger",
      "webhookId": "c0d5c52d-df17-4923-a52f-c8cd110e1302"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Filter berdasarkan Nama').item.json.session_waha }}",
        "chatId": "={{ $('Filter berdasarkan Nama').item.json.no_wa }}",
        "reply_to": "={{ $('Filter berdasarkan Nama').item.json.no_wa }}",
        "text": "=👋 Hai kak {{ $('Filter berdasarkan Nama').item.json.nama_pelanggan }},\n\nTagihan anda adalah :\n\n➡️ No.Invoice : {{ $('Filter berdasarkan Nama').item.json.invoice_id }}\n➡️ Atas Nama : {{ $('Filter berdasarkan Nama').item.json.nama_pelanggan }}\n➡️ Jumlah Tagihan : Rp.{{ $('Filter berdasarkan Nama').item.json.nominal }}\nUntuk melakukan pembayaran silahkan klik link dibawah ini :\n\n{{ $json.redirect_url }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1180,
        -60
      ],
      "id": "65fbda33-3ed7-4c76-bfbb-b1a98a9f2d7f",
      "name": "WAHA",
      "credentials": {
        "wahaApi": {
          "id": "8GeXL3pNXmstzB8v",
          "name": "WAHA ASRATECH"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst namaTarget = $input.first().json.Nama.toLowerCase();\nlet found = null;\n\nfor (const item of items) {\n  const row = item.json;\n  if (row[\"Nama\"] && row[\"Nama\"].toLowerCase() === namaTarget) {\n    found = row;\n    break;\n  }\n}\n\nif (!found) {\n  throw new Error(`Data untuk nama \"${namaTarget}\" tidak ditemukan.`);\n}\n\n// Format untuk Midtrans\nreturn [{\n  json: {\n    invoice_id: found[\"No.Invoice\"],\n    nama_pelanggan: found[\"Nama\"],\n    nominal: found[\"Nominal\"],\n    no_wa: $('WAHA Trigger').first().json.payload.from,\n    session_waha:$('WAHA Trigger').first().json.session\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        -60
      ],
      "id": "df5a96e8-6f38-4e85-9407-dd850c7759b5",
      "name": "Filter berdasarkan Nama"
    },
    {
      "parameters": {
        "content": "## Install Node Midtrans SNAP\n**Klik ➡️. [N8N Node Midtrans](https://www.npmjs.com/package/@yudhaputrama/n8n-nodes-midtrans?activeTab=code)",
        "height": 100,
        "width": 580,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        180,
        -220
      ],
      "id": "dddf5244-9e7f-4aa0-9459-c306fc5f0ba4",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Extract Nama": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Midtrans SNAP": {
      "main": [
        [
          {
            "node": "WAHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Filter berdasarkan Nama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAHA Trigger": {
      "main": [
        [],
        [],
        [],
        [
          {
            "node": "Extract Nama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter berdasarkan Nama": {
      "main": [
        [
          {
            "node": "Midtrans SNAP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "3bce735c-9f3e-400c-87cd-6e76959dc668",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e33423954649047b6d8ec3eca03b75defdccf8b57603275e799d2b27382534ff"
  },
  "id": "SMZQCZcJMWyXmT1I",
  "tags": []
}
