lokal/waha-ai-agent-chat-simple.json
{
  "name": "WAHA AGENT AI SIMPLE",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('WAHA Trigger1').item.json.payload.body }}",
        "options": {
          "systemMessage": "You are a helpful assistant",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -416,
        624
      ],
      "id": "6598919e-1fd0-4b3e-87c2-a901e8be37e9",
      "name": "AI Agent Image"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "session": "={{ $('WAHA Trigger1').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger1').item.json.payload.from }}",
        "messageId": "={{ $('WAHA Trigger1').item.json.payload.id }}",
        "requestOptions": {}
      },
      "id": "3e33de67-359c-4c98-833d-17f65a7c2bd2",
      "name": "Send Seen1",
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202409,
      "position": [
        -1136,
        752
      ],
      "credentials": {
        "wahaApi": {
          "id": "ZHDWm9eBM2N2H291",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Stop Typing",
        "session": "={{ $('WAHA Trigger1').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger1').item.json.payload.from }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        112,
        624
      ],
      "id": "e4137118-6d6b-468a-b92a-ddefa00eb689",
      "name": "WAHA6",
      "credentials": {
        "wahaApi": {
          "id": "ZHDWm9eBM2N2H291",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Start Typing",
        "session": "={{ $('WAHA Trigger1').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger1').item.json.payload.from }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        -288,
        288
      ],
      "id": "f3d17d32-9158-45fd-9645-57167f886eae",
      "name": "WAHA4",
      "credentials": {
        "wahaApi": {
          "id": "ZHDWm9eBM2N2H291",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "true",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8311c8ac-8bd1-453c-b91e-dc3944d85b06"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "242f1ea8-0d3f-491c-a60b-1ac78c82488f",
                    "leftValue": "true",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "id": "49b8b9ee-8db3-4c03-b631-d1e0db6a0545",
      "name": "Run All",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        -1136,
        448
      ],
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "session": "={{ $('WAHA Trigger1').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger1').item.json.payload.from }}",
        "messageId": "={{ $('WAHA Trigger1').item.json.payload.id }}",
        "requestOptions": {}
      },
      "id": "c8997703-a992-4019-bf26-ac3d125e7ac3",
      "name": "Send Seen",
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202409,
      "position": [
        -512,
        288
      ],
      "credentials": {
        "wahaApi": {
          "id": "ZHDWm9eBM2N2H291",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.mediaUrl }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wahaApi",
        "options": {
          "response": {}
        }
      },
      "id": "eedf4632-90e9-4a3f-a869-fb373c4a1537",
      "name": "Download Media",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -832,
        464
      ],
      "credentials": {
        "wahaApi": {
          "id": "ZHDWm9eBM2N2H291",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Set Nomor_WA').item.json.nomor_wa }}",
        "contextWindowLength": 1
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -336,
        848
      ],
      "id": "2098658a-64a1-4bf4-b157-cad51e30ff3a",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@devlikeapro/n8n-nodes-waha.wahaTrigger",
      "typeVersion": 202502,
      "position": [
        -1904,
        192
      ],
      "id": "bbc54357-7479-435a-8ce7-f6702247288d",
      "name": "WAHA Trigger1",
      "webhookId": "9646831f-404c-4bce-81bd-44f9c0972d7b"
    },
    {
      "parameters": {
        "includeTime": "",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        -160,
        864
      ],
      "id": "fb6f0de7-6222-44a0-a623-b4c3a5a74426",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('WAHA Trigger1').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger1').item.json.payload.from }}",
        "reply_to": "={{ $('WAHA Trigger1').item.json.payload.id }}",
        "text": "={{ $('AI Agent Image').item.json.output }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        272,
        624
      ],
      "id": "cf562acf-e8b8-4696-b560-981d624f6de6",
      "name": "Send a text message",
      "credentials": {
        "wahaApi": {
          "id": "ZHDWm9eBM2N2H291",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Start Typing",
        "session": "={{ $('WAHA Trigger1').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger1').item.json.payload.from }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        -880,
        752
      ],
      "id": "b289bec2-6814-48ca-9464-722cba2c6180",
      "name": "Start Typing",
      "credentials": {
        "wahaApi": {
          "id": "ZHDWm9eBM2N2H291",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5d803a0a-2a8c-4aeb-89f7-7be95a9e600e",
              "leftValue": "={{ $('WAHA Trigger1').item.json.payload.hasMedia }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1584,
        384
      ],
      "id": "43f71ffb-3085-49f1-ab67-5f7043337664",
      "name": "Cek hasMedia"
    },
    {
      "parameters": {
        "resource": "Chats",
        "operation": "Get Chat Messages",
        "session": "={{ $('WAHA Trigger1').item.json.session }}",
        "downloadMedia": true,
        "chatId": "={{ $('WAHA Trigger1').item.json.payload.from }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        -1152,
        224
      ],
      "id": "b02045f4-3a4e-4dc7-9796-69252426ea7c",
      "name": "WAHA getMessage",
      "alwaysOutputData": true,
      "credentials": {
        "wahaApi": {
          "id": "ZHDWm9eBM2N2H291",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10714bee-c6ab-4055-9c80-448c52f50e73",
              "name": "mediaUrl",
              "value": "={{ $('WAHA Trigger1').item.json.payload.mediaUrl.replace(\"http://localhost:3000\", \"https://waha-ajnfbbsp.waha.my.id\") }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -848,
        224
      ],
      "id": "c4554559-0b15-4262-94b2-a7c4d651267e",
      "name": "Set mediaUrl"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -512,
        848
      ],
      "id": "51584b11-da81-45f9-a0c8-6984cf8be05f",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "lTeefGXlM45hWJ9n",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "# **Image handling**",
        "height": 512,
        "width": 656
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1280,
        96
      ],
      "id": "2350f1d0-05ad-466f-bd16-f75705897f3f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# **Text Reply**",
        "height": 512,
        "width": 576,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -576,
        512
      ],
      "id": "ec91f506-af00-4682-9945-ec32bafe4992",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent Image": {
      "main": [
        [
          {
            "node": "WAHA6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Seen1": {
      "main": [
        [
          {
            "node": "Start Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAHA6": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run All": {
      "main": [
        [
          {
            "node": "Send Seen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Seen": {
      "main": [
        [
          {
            "node": "WAHA4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Media": {
      "main": [
        [
          {
            "node": "AI Agent Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent Image",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "WAHA Trigger1": {
      "main": [
        [],
        [
          {
            "node": "Cek hasMedia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Image",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Start Typing": {
      "main": [
        [
          {
            "node": "AI Agent Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek hasMedia": {
      "main": [
        [
          {
            "node": "WAHA getMessage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Seen1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAHA getMessage": {
      "main": [
        [
          {
            "node": "Set mediaUrl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set mediaUrl": {
      "main": [
        [
          {
            "node": "Run All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Image",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2e1c6fb1-3f54-41b6-93c0-6fe78b0ea268",
  "meta": {
    "instanceId": "8ef75ee0bca18ca89abd161b41f155aae92e2990df5470118f5b45a611e2bf56"
  },
  "id": "4kdN7PcwqVxh5OIO",
  "tags": [
    {
      "name": "WAHA",
      "id": "XtC1hUcIaMKjJH7b",
      "createdAt": "2025-08-01T02:40:24.423Z",
      "updatedAt": "2025-08-01T02:40:24.423Z"
    },
    {
      "createdAt": "2025-06-25T23:36:32.141Z",
      "updatedAt": "2025-06-25T23:36:32.141Z",
      "id": "fIfl4FyHbcmr3YOL",
      "name": "Whatsapp"
    },
    {
      "name": "Agent AI",
      "id": "bJaocVlcSgg6d5Ko",
      "createdAt": "2025-08-01T02:40:36.647Z",
      "updatedAt": "2025-08-01T02:40:36.647Z"
    }
  ]
}
