lokal/waha-image-audio-process.json
{
  "name": "WAHA Image & Audio Processing",
  "nodes": [
    {
      "parameters": {},
      "type": "@devlikeapro/n8n-nodes-waha.wahaTrigger",
      "typeVersion": 202502,
      "position": [
        -80,
        240
      ],
      "id": "c8cd7e39-2465-4801-a4c8-03f96253d01a",
      "name": "WAHA Trigger",
      "webhookId": "66ca0b8b-4cd0-4984-967c-bce309d56d58"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "=# PERAN DAN IDENTITAS UTAMA\nAnda adalah \"Sora\", asisten virtual yang sangat profesional, sopan, dan terpercaya. Anda bekerja untuk seorang Service Advisor di bengkel resmi Auto2000 Soreang. Misi utama Anda adalah membantu Service Advisor dalam berkomunikasi dengan pelanggan dan mengelola tugas-tugas administratif dengan efisien dan ramah.\nAnda sedang berbicara dengan {{ $('Validate User').item.json.payload._data.pushName }} dan waktu saat ini adalah {{ $now.setZone('Asia/Jakarta') }}\n\n# KEPRIBADIAN DAN NADA BICARA\n- **Profesional & Terpercaya:** Selalu berikan informasi yang akurat dan jangan membuat asumsi. Jika tidak tahu, katakan Anda akan membantu Service Advisor untuk mengeceknya.\n- **Ramah & Empatik:** Gunakan sapaan yang hangat dan tunjukkan pemahaman terhadap kebutuhan atau keluhan pelanggan.\n- **Sopan & Hormat:** Selalu gunakan tutur kata yang sopan, baik dalam Bahasa Indonesia maupun Bahasa Sunda.\n\n# KEMAMPUAN BAHASA (Sangat Penting)\n1.  **Bahasa Indonesia:** Gunakan Bahasa Indonesia yang baku, formal, dan sopan. Sapa pelanggan dengan \"Bapak/Ibu [Nama Pelanggan]\" atau \"AutoFamily\". Hindari bahasa gaul.\n2.  **Bahasa Sunda:** Anda fasih berbahasa Sunda *lemes* (halus dan sopan). Gunakan sapaan seperti \"Punten, Bapa/Ibu,\" \"Wilujeng enjing/siang/sonten/wengi,\" dan ungkapan seperti \"Mangga,\" \"Hatur nuhun.\" **DILARANG KERAS** menggunakan bahasa Sunda *loma* (akrab/kasual) atau *kasar*. Anda harus bisa beralih bahasa dengan mulus sesuai konteks atau permintaan.\n3.  **Fleksibilitas:** Jika pelanggan menggunakan campuran bahasa, ikuti alur mereka namun tetap jaga kesopanan.\n\n# TUGAS & KEMAMPUAN\n- Membantu menyusun draf balasan WhatsApp atau email untuk follow-up servis, pengingat jadwal, dan menjawab pertanyaan umum.\n- Memberikan informasi umum seputar layanan Auto2000 Soreang (misal: jam operasional, jenis layanan).\n- Membantu merangkum keluhan pelanggan untuk diteruskan ke Service Advisor.\n- Membantu menyusun jadwal atau pengingat internal untuk Service Advisor.\n\n# BATASAN & ATURAN PENTING\n- **JANGAN** memberikan janji atau komitmen pasti kepada pelanggan (misal: \"Pasti selesai jam 2\"). Selalu gunakan frasa seperti \"akan kami usahakan\" atau \"estimasi dari tim kami adalah...\".\n- **JANGAN** memberikan estimasi harga pasti tanpa persetujuan atau data dari Service Advisor. Katakan, \"Untuk estimasi biaya, akan kami bantu konfirmasikan terlebih dahulu dengan tim servis ya, Bapak/Ibu.\"\n- **JANGAN** menangani keluhan yang sangat sensitif atau rumit. Tugas Anda adalah mencatatnya dengan baik dan segera menyarankan untuk diteruskan ke Service Advisor secara langsung.\n- **JANGAN** meminta informasi yang sangat pribadi dan sensitif (seperti password atau info kartu kredit).\n\nContoh respons pembuka:\n- (Indonesia): \"Selamat pagi, Bapak Budi. Dengan JarBot, asisten virtual dari Auto2000 Soreang. Ada yang bisa kami bantu terkait kendaraan Toyota Anda?\"\n- (Sunda): \"Wilujeng enjing, Bapa Budi. Punten, abdi JarBot, asisten virtual ti Auto2000 Soreang. Manawi aya peryogi naon nya Bapa, perkawis kendaraan Toyota na?\"\n\n# ATURAN KHUSUS & PEMICU AKSI (FUNCTION CALLING)\n\nIni adalah aturan yang sangat penting yang akan memicu aksi di sistem.\n\n**1. Pertanyaan Estimasi Harga Spare Part:**\n- **Pemicu (Trigger):** Jika pelanggan bertanya mengenai harga, ketersediaan, atau estimasi biaya untuk sebuah **spare part spesifik** (contoh: \"harga kampas rem Avanza berapa?\", \"filter oli Veloz ready?\", \"biaya ganti aki Rush?\").\n- **Langkah 1 - Respons ke Pelanggan (APA YANG HARUS DIKATAKAN):** Anda HARUS memberikan respons dua bagian kepada pelanggan:\n    a. Konfirmasi bahwa Anda akan membantu mengecek.\n    b. Informasikan bahwa tim spare part akan segera membantu memberikan detailnya.\n    - **Contoh Template Respons:** \"Baik, Bapak/Ibu. Segera kami bantu teruskan pertanyaan mengenai harga spare part [Sebutkan nama part jika terdeteksi] ke rekan kami di bagian spare part. Mohon ditunggu sebentar ya, nanti akan ada informasi lebih lanjut langsung dari petugas kami.\"\n- **Langkah 2 - Aksi Internal (APA YANG HARUS DILAKUKAN):** Anda harus secara internal **MENGIDENTIFIKASI** dan **MEMBERI LABEL** percakapan ini sebagai `request_harga_part`. Sistem kemudian akan secara otomatis menjalankan fungsi untuk memberitahu petugas spare part. Anda tidak perlu mengatakan \"Saya akan mengirim pesan\", cukup berikan respons yang sopan kepada pelanggan.\n\n**2. Pertanyaan Estimasi Biaya Jasa Servis:**\n- **Pemicu (Trigger):** Jika pelanggan bertanya estimasi biaya jasa servis umum atau servis berkala.\n- **Respons:** \"Untuk estimasi biaya jasa servis, ada beberapa faktor yang perlu kami periksa, Bapak/Ibu. Agar informasinya akurat, akan kami bantu sambungkan langsung dengan Service Advisor kami ya.\"\n- **Aksi Internal:** Identifikasi sebagai `request_biaya_jasa`."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1540,
        443
      ],
      "id": "f077f6ac-c645-4d50-b5b1-5d8b7fb40e75",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 7) - 1; }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        880,
        1000
      ],
      "id": "1890d4b3-eaca-409e-9a7f-c262595a7091",
      "name": "Wait",
      "webhookId": "7560fa10-c3a2-494a-9425-ba196dc7686f"
    },
    {
      "parameters": {
        "url": "={{ $('Validate User').item.json.payload.media.url.replaceAll('http://localhost:3000', 'https://waha-aia0ee89.sumopod.in').trim() }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wahaApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        243
      ],
      "id": "9fe3c89a-f645-4929-b760-fa368c5985fc",
      "name": "Download Image",
      "credentials": {
        "wahaApi": {
          "id": "hSTwBob4J2M0PenT",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Validate User').item.json.payload.media.mimetype }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "37e78ab4-b2a3-4fb9-83d4-e21fc27a279e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a8b3eae2-a7f1-4849-8f32-33f0c90c6b3b",
                    "leftValue": "={{ $('Validate User').item.json.payload.media.mimetype }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        660,
        343
      ],
      "id": "8ae018c9-0f1f-4e7f-a55d-23d9b8499963",
      "name": "As Image or Auido"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "16098a7e-d313-429b-8ffa-34c453c0d290",
              "leftValue": "={{ $('Validate User').item.json.payload.hasMedia }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        443
      ],
      "id": "4bd6002b-6503-405b-ad8d-38f2d96c46b3",
      "name": "Media Content",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6bef39fe-6d09-434b-a18e-d4ac516b961e",
              "leftValue": "={{ $json.payload.from.split('@')[1] }}",
              "rightValue": "c.us",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        443
      ],
      "id": "771dc77c-5597-4667-8669-8cced978fa81",
      "name": "Validate User"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        220,
        200
      ],
      "id": "d38de788-2abd-4b60-9eff-adae60307937",
      "name": "Send Seen",
      "credentials": {
        "wahaApi": {
          "id": "hSTwBob4J2M0PenT",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Validate User').item.json.payload.media.url.replaceAll('http://localhost:3000', 'https://waha-aia0ee89.sumopod.in').trim() }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wahaApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        443
      ],
      "id": "3a69bfd2-1ef3-4eb8-a1ef-da0120348ce2",
      "name": "Download Audio",
      "credentials": {
        "wahaApi": {
          "id": "hSTwBob4J2M0PenT",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1100,
        443
      ],
      "id": "b68a914b-269b-43d8-a330-2b4504eec409",
      "name": "Analyze Audio",
      "credentials": {
        "openAiApi": {
          "id": "qdnaspfYC8FEmUQn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1100,
        243
      ],
      "id": "24ef59c3-ce3d-424d-8e50-90bf0858e2ed",
      "name": "Analyze Image",
      "credentials": {
        "openAiApi": {
          "id": "qdnaspfYC8FEmUQn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ac0a71b-d970-4ccf-be77-4523c365a54c",
              "name": "output",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1320,
        243
      ],
      "id": "bad1fdcb-657f-4f1d-a8c2-c67becbcc405",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "035c9699-f4db-4da7-b774-a8c6058e9bec",
              "name": "output",
              "value": "={{ $('WAHA Trigger').item.json.payload._data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1320,
        643
      ],
      "id": "0d24c039-f0c5-4767-ba26-df52566c6a7a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ac0a71b-d970-4ccf-be77-4523c365a54c",
              "name": "output",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1320,
        443
      ],
      "id": "befd573b-9930-4a70-a53b-bacb1a9d1d97",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Start Typing",
        "session": "={{ $('Validate User').item.json.session }}",
        "chatId": "={{ $('Validate User').item.json.payload.from }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        660,
        1000
      ],
      "id": "95cdbb94-7e2b-4d91-8169-f4e1d7818e70",
      "name": "Start Typing",
      "credentials": {
        "wahaApi": {
          "id": "hSTwBob4J2M0PenT",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Stop Typing",
        "session": "={{ $('Validate User').item.json.session }}",
        "chatId": "={{ $('Validate User').item.json.payload.from }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1100,
        1000
      ],
      "id": "7da3417f-07df-43a4-96fa-c5438c707b08",
      "name": "Stop Typing",
      "credentials": {
        "wahaApi": {
          "id": "hSTwBob4J2M0PenT",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Validate User').item.json.session }}",
        "chatId": "={{ $('Validate User').item.json.payload.from }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1320,
        1000
      ],
      "id": "1d00529b-12c8-4eb6-b2fa-16692d41862a",
      "name": "Send Reply",
      "credentials": {
        "wahaApi": {
          "id": "hSTwBob4J2M0PenT",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1520,
        660
      ],
      "id": "3888acde-5cc1-4b7d-b20f-48a96206eb62",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "qdnaspfYC8FEmUQn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2b378786-ba0d-4354-9d81-4ac86daa3648",
              "leftValue": "={{ $('Validate User').item.json.payload._data.media.mimetype }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        900
      ],
      "id": "3d79ec43-7a3c-46a9-a4da-77a6d062d924",
      "name": "Contains Audio"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Validate User').item.json.session }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1660,
        660
      ],
      "id": "7b0f8213-b925-402a-9c6e-1ee14ce3aa1f",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "l46XhnjYjdeDo9nX",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.first();\n\n// Ambil binary data (sesuaikan dengan struktur dari debug Anda)\nlet audioBuffer;\n\nif (inputData.binary && inputData.binary.data) {\n    audioBuffer = inputData.binary.data.data;\n} else if (inputData.json) {\n    // Sesuaikan dengan lokasi data yang benar dari hasil debug\n    audioBuffer = inputData.json;\n} else {\n    throw new Error(\"Audio data not found\");\n}\n\nconst base64Audio = audioBuffer.toString('base64');\n\nreturn {\n    json: {\n        session: \"JarBot\",\n        chatId: \"628561542014@c.us\",\n        file: {\n            mimetype: \"audio/mpeg\",\n            filename: \"voice.mp3\",\n            data: base64Audio\n        }\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        800
      ],
      "id": "90b9076f-f35b-4763-8f57-1b139d313cde",
      "name": "Code"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Voice",
        "session": "={{ $('Validate User').item.json.session }}",
        "chatId": "={{ $('Validate User').item.json.payload.from }}",
        "file": "={\n  \"mimetype\": \"audio/ogg; codecs=opus\",\n  \"filename\": \"voice.mp3\",\n  \"data\": \"{{ $json.file.data }}\"\n}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1100,
        800
      ],
      "id": "fef596c8-6fb3-4ba5-ad69-b53a5376d582",
      "name": "Send Voice Note",
      "credentials": {
        "wahaApi": {
          "id": "hSTwBob4J2M0PenT",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.output }}",
        "voice": "fable",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        660,
        800
      ],
      "id": "62a05ba5-59db-4e2f-865f-86038797ae5f",
      "name": "Generate Voice Note",
      "executeOnce": true,
      "credentials": {
        "openAiApi": {
          "id": "qdnaspfYC8FEmUQn",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WAHA Trigger": {
      "main": [
        [],
        [
          {
            "node": "Validate User",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Seen",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Contains Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Stop Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Analyze Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "As Image or Auido": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Media Content": {
      "main": [
        [
          {
            "node": "As Image or Auido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate User": {
      "main": [
        [
          {
            "node": "Media Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Seen": {
      "main": [
        []
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Analyze Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Image": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Audio": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Typing": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Typing": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Contains Audio": {
      "main": [
        [
          {
            "node": "Generate Voice Note",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Start Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Send Voice Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Voice Note": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7f090698-d57d-4a76-89e5-10c4a7031a75",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7d969322a9b9f17414dcc3eb881e1c261dccc09c752ef2f0b79491b4b6d42ce5"
  },
  "id": "OwyKPWD0hR09vTUm",
  "tags": []
}
